header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--text-color-1);
  outline: solid 1px var(--stroke-color);

  .header__icons {
    width: 2rem;

    &--menu,
    &--close {
      width: 100%;
      aspect-ratio: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header__icons {
    display: none;
  }
}
