header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--text-color-1);
  outline: solid 1px var(--stroke-color);
  position: relative;

  .header {
    &__home-link {
      color: var(--text-color-1);
      text-decoration: none;
    }

    &__menu {
      &--desktop {
        display: none;
      }

      &--mobile {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 100%);
        background-color: var(--bg-color);
        z-index: 1;
      }
    }

    &__icons {
      width: 2rem;
      display: grid;
      place-items: center;
  
      &--menu,
      &--close {
        width: 100%;
        aspect-ratio: 1;
  
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header__icons {
    display: none;
  }
}
