.about {
  flex-grow: 1;
  display: flex;

  &__content {
    flex-grow: 1;
    &__tabs {
      color: var(--text-color-1);
      display: flex;
      border-bottom: solid 1px var(--stroke-color);
    }
  }
}
