.about__content__page--bio {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  place-items: center;
  flex-grow: 1;
  p {
    line-height: 1.5;
  }

  img {
    max-width: 60%;
    opacity: 0;
  }
}
