main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5rem);
  }
}
