.home-page {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  
  &__author {
    overflow: hidden;
    flex-grow: 1;
    position: relative;

    &__info {
      position: absolute;
      top: 15%;
      color: #e5e9f0;

      &__label {
        font-size: 1.125rem;
      }

      &__name {
        font-size: 3.875rem;
        margin-block: 1rem;
        font-weight: 400;
      }

      &__title {
        color: var(--green);
        font-size: 1.25rem;
      }
    }

    &__github {
      font-size: 0.875rem;
      position: absolute;
      width: 100%;
      color: var(--text-color-1);
      bottom: 13%;

      &__link {
        &:hover {
          cursor: pointer;
          border-bottom: solid 1px var(--orange-2);
        }
      }
    }
  }

  &__img {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .home-page {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10rem;
    &__author {
      min-height: 20rem;
      width: 25vw;
      max-width: 30rem;
      flex-grow: unset;
      display: grid;
      grid-template-columns: 100%;
      row-gap: 2rem;
      &__info {
        position: static;
        &__title {
          color: var(--purple);
        }
      }

      &__github {
        position: static;
      }
    }

    &__img {
      display: block;
      position: relative;
      width: 25vw;
      max-width: 30rem;
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
}
