.project {
  flex-grow: 1;
  display: flex;
  height: 100%;
  &__content {
    display: grid;
    gap: 2rem;
    padding-inline: 1rem;
    margin-block: 1rem;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 480px) {
  .project {
    &__content {
      grid-template-columns: repeat(2, calc((100% - 2rem) / 2));
    }
  }
}

@media screen and (min-width: 1024px) {
  .project {
    &__content {
      overflow-y: auto;
      grid-template-columns: repeat(2, calc((100% - 2rem) / 2));
    }
  }
}

@media screen and (min-width: 1440px) {
  .project {
    &__content {
      grid-template-columns: repeat(3, calc((100% - 4rem) / 3));
    }
  }
}
