.side-bar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .side-bar {
    display: block;
    padding: 1rem;
    width: 18rem;
    border-right: solid var(--stroke-color) 1px;
    color: var(--text-color-1);
  }
}
