.side-bar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .side-bar {
    display: block;
    width: 20rem;
    border-right: solid var(--stroke-color) 1px;
    color: var(--text-color-1);
    flex-shrink: 0;
    
    details {
      details {
        padding-left: 1rem;
      }

      summary {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }

    details[open] {
      color: white;
      details {
        color: var(--text-color-1);
      }

      summary {
        margin-bottom: 1rem;
      }

      details[open] {
        color: inherit;
      }

      p {
        color: var(--text-color-1);
        transition: .3s;

        &.active {
          color: white;
        }

        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
