.about__content__page--career {
  flex-grow: 1;

  &__intro {
    line-height: 1.5;
    min-height: 20%;
    margin-top: 0;
  }

  &__companies {
    display: grid;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    transition: 1s;
    opacity: 0;
    padding-block: 1rem;
  }
}


@media screen and (min-width: 1360px) {
  .about__content__page--career {
    &__companies {
      grid-template-columns: repeat(2, calc(50% - 1rem));
    }
  }
}