.about__content__page--career {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__intro {
    line-height: 1.5;
    min-height: 20%;
  }

  &__companies {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    flex-grow: 1;
    transition: 1s;
    opacity: 0;
  }
}
