@font-face {
  font-family: "Fira Code";
  src: url(../public/fonts/FiraCode-VariableFont_wght.ttf);
}

:root {
  --bg-color: #011627;

  --text-color-1: #607B96;

  --stroke-color: #1E2D3D;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}

body,
input,
button,
textarea {
  font-family: "Fira Code", sans-serif;
}
