@font-face {
  font-family: "Fira Code";
  src: url(/fonts/FiraCode-VariableFont_wght.ttf);
}

:root {
  --bg-color: #011627;

  --text-color-1: #607B96;

  --green: #43D9AD;
  --purple: #4D5BCE;
  --orange: #FEA55F;
  --orange-2: #E99287;

  --stroke-color: #1E2D3D;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


body,
input,
button,
textarea {
  font-family: "Fira Code", sans-serif;
}
