@font-face {
  font-family: "Fira Code";
  src: url(/fonts/FiraCode-VariableFont_wght.ttf);
}

:root {
  --bg-color: #011627;
  --button-bg-color: #1c2b3a;
  --active-tab-color: hsl(205, 89%, 20%);
  --card-bg: #011221;
  --text-color-1: #607b96;
  --text-color-2: #5565e8;

  --green: #43d9ad;
  --purple: #4d5bce;
  --orange: #fea55f;
  --orange-2: #e99287;

  --stroke-color: #1e2d3d;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body,
input,
button,
textarea {
  font-family: "Fira Code", sans-serif;
}

button {
  border-style: solid;
  &:hover {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 0.2rem;
  &-track {
    background: var(--bg-color);
  }

  &-thumb {
    background: var(--active-tab-color);
  }
}

@media screen and (min-height: 1024px) {
  body {
    height: 100vh;
  }

  @media screen and (min-aspect-ratio: 1) {
    body {
      overflow: hidden;
    }
  }
}
